/* место для вашего кода */
.header {
  padding: 92px 24px 96px 24px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  align-items: center;
}

.header__menu {
  justify-self: start;
  padding-left: 26px;
  padding-top: 2px;
}

.header__links-list {
  display: flex;
  gap: 34px;
  list-style: circle;
}

.header__links-list-item{
  letter-spacing: 1%;
}

.header__links-list-item_no-bullet {
  list-style: none;
  letter-spacing: 0%;
}

.header__link{
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.header__link_active{
 border: none;
}

.header__logo{
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  line-height: 24.3px;
  font-style: normal;
}

.address a {
  letter-spacing: 1%;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.header__address{
  padding-right: 63px;
  padding-top: 2px;
  justify-self: end;
}





